# dependencies
node_modules

# build outputs
.turbo
dist
.next

# misc
.DS_Store

# logs
logs
*.log

# coverage
coverage

# ignore
*ignore

# editor
.vscode

# environment variables
.env
.env.*

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
generated
migrations