# dependencies
node_modules

# build outputs
dist
build
out

# turbo
.turbo

# next
next-env.d.ts
.next

# vercel
.vercel

# logs
logs
*.log

# debug
*-debug*
debug
*.debug
debugs

# testing
coverage
*.test.ts
*.spec.ts

# prisma
generated

# misc
.DS_Store
*.pem

# env
.env.*
.env

# typescript
*.tsbuildinfo