# dependencies
node_modules

# build outputs
.turbo
dist
.next

# misc
.DS_Store

# logs
logs
*.log

# coverage
coverage

# editor
.vscode

# environment variables
.env
.env.*
!.env.*.example
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
generated
migrations
