# dependencies
node_modules

# build outputs
dist
build
out

# turbo
.turbo

# next
.next

# vercel
.vercel

# logs
logs
*.log

# ignore files
*ignore

# debug
*-debug*
debug
*.debug
debugs

# testing
coverage

# prisma
generated

# misc
.DS_Store
*.pem

# env
.env.*
.env

# typescript
*.tsbuildinfo