# dependencies
node_modules

# build outputs
.turbo
dist
.next

# logs
logs
*.log

# coverage
coverage

# misc
.DS_Store

# environment variables
.env
.env.*

# typescript
*.tsbuildinfo

# prisma
generated
migrations