NODE_ENV=development # default environment -> development
PORT=2881
WEB_ORIGIN=http://localhost:3000 # next.js default -p 3000
JWT_SECRET= # create a base64 32 [cmd: openssl rand -base64 32] secret

# environment variable for .env.production
API_ORIGIN=